# contains the details of the smart irrigation system
plant_settings.json
project_settings.json

# contains some of the notebooks used for data analysis
notebooks/* 
bin
lib
lib64
pyvenv.cfg
logs
.vscode
cron.sh
share
include